<% breadcrumb :dashboards %>

<h1>Your Dashboards:</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    Dashboards (<%= @dashboards.count %>)
  </div>
  <div class="list-group">
  <% @dashboards.each do |dashboard| %>
    <%= link_to(dashboard.name, dashboard_path(dashboard.id), class: 'list-group-item') %>
  <% end %>
  </div>
</div>