<h1>
  Search for indicators
</h1>

<h4>
  <%= link_to("Categories", categories_path)%>
</h4>

<h3>
  <%= @indicators ? "Results:" : nil %>
</h3>

<ul>
  <% @indicators.each do |indicator| %>
    <li>
      <%= link_to(indicator.name, indicator_path(indicator.dataset.internal_name,indicator.internal_name))%>
    </li>
  <% end %>
</ul>