<% breadcrumb :category, @category %>

<h1>
  <%= @category.name %>
</h1>


<div class="panel panel-primary">
  <div class="panel-heading">
  Datasets (<%= @datasets.count %>)
  </div>
  <div class="list-group">
    <% @datasets.each do |dataset| %>
      <%= link_to(dataset.name, dataset_path(dataset.internal_name), class: 'list-group-item')%>
    <% end %>
  </div>
</div>