<h1>
  <%= @category.name %> datasets
</h1>

<h4>
  <%= link_to "Categories", categories_path %>
   >
  <%= @category.name %>
</h4>

<ul>
  <% @datasets.each do |dataset| %>
    <li>
    <%= link_to dataset.name, dataset_path(dataset.internal_name) %>
    </li>
  <% end %>
</ul>